[submodule "python-datalab-api"]
	path = python-datalab-api
	url = https://github.com/josemanuel22/-fluffy-couscous.git
[submodule "jose-dockers"]
	path = jose-dockers
	url = https://github.com/josemanuel22/miniature-octo-winner.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/josemanuel22/friendly-carnival.git
[submodule "parssing"]
	path = parssing
	url = https://github.com/josemanuel22/ubiquitous-octo-invention.git
[submodule "installation"]
	path = installation
	url = https://github.com/josemanuel22/congenial-octo-goggles.git
